exportPattern("^[[:alpha:]]+")
importFrom("stats", "pchisq", "uniroot", "dnorm", "integrate", "pnorm", "runif", "var", "qchisq", "qnorm", "sd","nlm")
importFrom("graphics", "abline", "curve","points")
importFrom("stats", "pt", "rchisq")
importFrom("MASS", "mvrnorm")
